<!-- nav bar 1 -->
<ul style="display: inline">
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<!-- nav bar 2 -->
<ul style="list-style-type: none; margin:0; padding:0; overflow:hidden; background-color:#dddddd; ">
  <li style="float:left"><a style="display: block; padding:8px;" href="#home">Home</a></li>
  <li style="float:left"><a style="display: block; padding:8px;" href="#news">News</a></li>
  <li style="float:left"><a style="display: block; padding:8px;" href="#contact">Contact</a></li>
  <li style="float:left"><a style="display: block; padding:8px;" href="#about">About</a></li>
</ul>