.outer-container {
  display: flex;
}

.inner-container {
  display: flex;
  flex-direction: column;
}


/* .wrk-concept-container {
  width: 75%;
  background-Color: blue;
  min-Height: 100%
} */

main {
  background-color: var(--main-background-color);
}


#sidebar {
  min-height: calc(100vh - 160px);
  background-color: var(--aside);
}

.picker {
  position: relative;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}