.logo_title {
	color: var(--main-font);
	font-size: 60px;
	margin-left: 20px;
}

ul {
	padding-left: 0rem;
}

.nav_container {
	margin-right: 60px;
}

.logo_link {
	text-decoration: none;
	margin-left: 60px;
	display: flex;
}

.logo_title:hover {
	color: #36441d;
}

.nav_link {
	font-size: 40px;
	padding-right: 20px;
	color: var(--main-font);
	font-weight: 500;
	margin-top: 30px;
}

.nav_link:hover {
	color: #36441d;
}

.header_link {
	text-decoration: none;
	align-content: center;
}

.logo_img {
	width: 70px;
	margin-bottom: 10px;
}

.header_container {
	height: 160px;
	display: flex;
	align-content: center;
	align-items: center;
	background-color: var(--header-footer-color);
	margin: 0;
	justify-content: space-between;
}

.navbar__nav {
	display: flex;
	align-content: center;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--main-font);
}

#logout_button:hover {
	cursor: pointer;
}

@media screen and (max-width: 1280px) {
	.logo_title {
		font-size: 40px;
	}

	.nav_container {
		margin-right: 40px;
	}

	.logo_link {
		margin-left: 40px;
	}

	.nav_link {
		font-size: 30px;
		padding-right: 20px;
		margin-top: 10px;
	}

	.logo_img {
		width: 70px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 940px) {
	.hamburger {
		display: block;
		color: var(--main-font);
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.navbar__nav {
		display: none;
	}

	.navbar_nav2 {
		position: fixed;
		z-index: 3;
		left: 80%;
		flex-direction: column;
		text-align: center;
	}

	.nav_link {
		background-color: var(--header-footer-color);
		font-size: 16px;
		padding: 15px 20px;
		margin: 0px;
		border: 1px solid black;
	}
}

@media screen and (max-width: 602px) {
	.logo_title {
		flex-wrap: wrap;
		font-size: 30px;
	}
}