
.logo_title {
    color: var(--main-font);
    font-size: 60px;
    white-space:nowrap;
}
.logo_link {
    text-decoration: none;
}

.logo_img{
   width: 70px;
   margin-bottom: 10px;
}

.nav-item>a {
    text-decoration: none;
    font-size: 30px;
}
nav {
    margin: 10px 40px 0 0;
}
.header_container {
    height: 160px;
    background-color: var(--header-footer-color);
    margin: 0;
}