h2 {
    color: white;
}

.project-btn {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.project-btn:hover {
    color: white;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .project-btn {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .project-btn {
        font-size: 14px;
    }
}