<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- alternate names:
         synonym for architects
         conceptualize
    -->
    <title>Aspiration Architects</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script defer type="text/javascript" src="../public/js/index.js"></script>
</head>
<body>
    <header>
        <h1>Welcome to Aspiration Architects</h1>
    </header>
    <main>
        <aside>
            <form id="navForm">
            <h2>Navigation Bar:</h2>
            <label for="navYN">Would you like a nav bar: yes/no</label>
            <input type="text" id="navYN">
            <label for="navLinks">what links would you like in your nav bar? (use , between links)</label>
            <input type="text" id="navLinks">
            <button type="submit">Apply Changes</button>
            </form>
        </aside>

    </main>
</body>
</html>

